<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ranking de notitas 10</h2>

    <table border="1" style="width:50%; text-align:center;">
<tr>
<th>Posición</th>
<th>Nombre</th>
<th>Carrera</th>
<th>Promedio</th>
</tr>

{% for estudiante in ranking %}
<tr>
<td>{{ loop.index }}</td>
<td>{{ estudiante.Nombre }}</td>
<td>{{ estudiante.Carrera }}</td>
<td>{{ estudiante.Promedio }}</td>
</tr>
{% endfor %}

</table>

<br>

<a href="/dashprincipal.py">Volver al dashboardsitoo</a>
</body>
</html>